@using DevelopmentMetrics.Website.Models
@model BuildStabilityViewModel
@{
    ViewBag.Title = "Build Stability";
}

<script type="text/javascript" src="https://www.google.com/jsapi"> </script>

<div class="row">
    <div class="col-md-4">
        <h2>Build stability</h2>
    </div>
    <div class="col-md-4">
        @Html.Partial("_ChartFilter",
            new ChartFilterViewModel(
                "menu1",
                "Builds",
                "buildsMenuItem",
                @Model.GetBuildGroupList().ToDictionary(b => b.BuildTypeGroupDisplay, b => b.BuildTypeGroup),
                new Dictionary<string, string> { { "All (default)", "All" } }
                ))
    </div>
    <div class="col-md-2">
        @Html.Partial("_ChartFilter",
            new ChartFilterViewModel(
                "menu2",
                "Agents",
                "agentsMenuItem",
                @Model.GetBuildAgentList(),
                new Dictionary<string, string> { { "All (default)", "All" } }
                ))
    </div>
    <div class="col-md-2">
        @Html.Partial("_ChartFilter",
            new ChartFilterViewModel(
                "menu3",
                "Chart data",
                "dataMenuItem",
                @Model.GetBuildWeeksList(),
                new Dictionary<string, string> { { "Refresh data", "-1" } }
                ))
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="chart_div" class="chartWrapper"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Failing and passing builds by rate (all time)</h2>
    </div>
    <div class="col-md-2">
        @Html.Partial("_ChartFilter",
            new ChartFilterViewModel(
                "menu4",
                "Show builds",
                "showBuildsMenuItem",
                new Dictionary<string, string> { { "Top 5 (default)", "5" }, { "Top 10", "10" }, { "Top 20", "20" } },
                new Dictionary<string, string> { { "All", "-1" } }
                ))
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.Partial("_BuildList", new PartialViewModel(Model.GetFailingBuildsByRate(), "alert alert-danger", "failingBuild"))
    </div>
    <div class="col-md-6">
        @Html.Partial("_BuildList", new PartialViewModel(Model.GetPassingBuildsByRate(), "alert alert-success", "passingBuild"))
    </div>
</div>

<input type="hidden" id="numberOfWeeks" value="6" />
<input type="hidden" id="buildAgent" value="All" />
<input type="hidden" id="buildTypeId" value="All" />

<script type="text/javascript">
    google.load("visualization", "1",
        {
            packages: ["line", "corechart"]
        });

    google.setOnLoadCallback(filterBuildChart);

    $(document).ready(function () {
        showBuilds(5);
    });
</script>
