@model DevelopmentMetrics.Website.Models.BuildStabilityViewModel
@{
    ViewBag.Title = "Build Stability";
}

<script type="text/javascript" src="https://www.google.com/jsapi"> </script>

<div class="row">
    <h2>Build stability</h2>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style="float: right;">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                    Builds
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    @foreach (var buildType in @Model.GetBuildGroupList())
                    {
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByBuildTypeId('@buildType.BuildTypeGroup');">@buildType.BuildTypeGroupDisplay</a>
                        </li>
                    }
                    <li class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByBuildTypeId('All');">All (default)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div style="float: right;">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">
                    Filter data
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByBuildAgent('lon-devtcagent1');">TC-Agent 1</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByBuildAgent('lon-devtcagent2');">TC-Agent 2</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByBuildAgent('lon-devtcagent3');">TC-Agent 3</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByBuildAgent('lon-devtcagent4');">TC-Agent 4</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByBuildAgent('lon-devtcagent5');">TC-Agent 5</a></li>
                    <li class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByBuildAgent('All');">All</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div style="float: right;">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="menu3" type="button" data-toggle="dropdown">
                    Chart data
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByWeeks(6);">6 weeks (default)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByWeeks(7);">7 weeks</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByWeeks(8);">8 weeks</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByWeeks(9);">9 weeks</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByWeeks(10);">10 weeks</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByWeeks(15);">15 weeks</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByWeeks(20);">20 weeks</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByWeeks(-2);">All</a></li>
                    <li class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: filterBuildChartByWeeks(-1);">Refresh data</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="chart_div" class="chartWrapper"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h4>Failing and passing builds by rate (all time)</h4>
    </div>
    <div class="col-md-2">
        <div style="float: right;">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="menu4" type="button" data-toggle="dropdown">
                    show builds
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu4">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: showBuilds(5);">Top 5 (default)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: showBuilds(10);">Top 10</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: showBuilds(20);">Top 20</a></li>
                    <li class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: showBuilds(-1);">All</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @{
            int failingRowId = 1;
            foreach (var build in Model.GetFailingBuildsByRate())
            {
                <div id="failingBuild_@failingRowId" class="col-md-12 buildItem">
                    <div class="alert alert-danger">
                        @build.BuildTypeId - @build.DisplayRate
                    </div>
                </div>

                failingRowId = failingRowId + 1;
            }
        }
    </div>
    <div class="col-md-6">
        @{
            int passingRowId = 1;
            foreach (var build in Model.GetPassingBuildsByRate())
            {
                <div id="passingBuild_@passingRowId" class="col-md-12 buildItem">
                    <div class="alert alert-success">
                        @build.BuildTypeId - @build.DisplayRate
                    </div>
                </div>

                passingRowId = passingRowId + 1;
            }
        }
    </div>
</div>

<input type="hidden" id="numberOfWeeks" value="6" />
<input type="hidden" id="buildAgent" value="All" />
<input type="hidden" id="buildTypeId" value="All" />

<script type="text/javascript">
    google.load("visualization", "1",
        {
            packages: ["line", "corechart"]
        });

    google.setOnLoadCallback(filterBuildChart);

    $(document).ready(function () {
        showBuilds(5);
    });
</script>
