@using DevelopmentMetrics.Cards
@model DevelopmentMetrics.Website.Models.CardsViewModel
@{
    ViewBag.Title = "Cards";

    var @metrics = @Model.GetCardCountByStatus();
}

<script type="text/javascript" src="https://www.google.com/jsapi"> </script>

<div class="row">
    <h2>Card metrics</h2>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>
            Lead time (in days): @Model.CalculateLeadTime()
        </h4>
    </div>
    <div class="col-md-6">
        <h4>
            Work in process: Todo (@metrics[CardStatus.Status.Todo]) & Doing (@metrics[CardStatus.Status.Doing])
        </h4>
    </div>
    <div class="col-md-3">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                Chart data
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: drawChart(42);">6 weeks (default)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: drawChart(49);">7 weeks</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: drawChart(56);">8 weeks</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: drawChart(63);">9 weeks</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: drawChart(70);">10 weeks</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: drawChart(105);">15 weeks</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: drawChart(140);">20 weeks</a></li>
                <li class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript: drawChart(-1);">Refresh data</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="chart_div" class="chartWrapper"></div>
    </div>
    @if (@metrics[CardStatus.Status.Unassigned] > 0)
    {
        <div class="col-md-12">
            <div class="warning">There are unassigned cards included in the data which will make the reported figures less accurate</div>
        </div>
    }
</div>

<div class="row">
    <h4>Cards in doing (@metrics[CardStatus.Status.Doing]):</h4>
    @foreach (var card in Model.GetCardsInProcess())
    {
        var @css = (@card.TypeName == "Defect") ? "alert-danger" : (@card.TypeName == "Improvement") ? "alert-info" : "alert-succes";

        <div class="alert @css">
            @card.Title
        </div>
    }
</div>

<script type="text/javascript">
    google.load("visualization", "1",
        {
            packages: ["line", "corechart"]
        });

    google.setOnLoadCallback(drawChart);
</script>
