@model DevelopmentMetrics.Website.Models.CardsViewModel
@{
    ViewBag.Title = "Cards";

    var leadTime = @Model.CalculateLeadTime();
}

<h2>Card metrics</h2>

<p>Lead time (in days): @leadTime</p>

@foreach (var metric in @Model.GetCardCountByStatus())
{
    <p>@metric.Key.ToString()</p>
    <p>@metric.Value</p>
}

@foreach (var cardCount in @Model.GetCardCountByDay())
{
    <p>@cardCount.Date.ToString("dd-MMM") - @cardCount.Total of which @cardCount.DoneTotal are done</p>
}